@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.containerCard{
    color: #B79E39;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
}


.containerCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCard img{
    width: 20%;
}


.headerBox{
    display: flex;
}

.cardLeftTop p{
    text-align: center;
    font-size: 7pt;
    margin-left: 0.7rem;
    color: #EEE0A5;
}


.cardrightTop img{
    width: 70%;
}

.containerCardBox{
    display: inline-block;
    position: relative;

}

.cardBox{
    position: absolute;
    width: 85px;
    height: 100px;
    top: 20px;
    left: 153px;
    
}

.footerBottom img{
    width: 15%;
}

.topBottom p{
    margin-left: 1.5rem;
    font-size: 7pt;
}

.footerBottom{
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    gap: 5px;
}



